<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dashboard
    RewriteRule ^/dashboard/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /dashboard/index.html [L]
</IfModule>