@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../Fonts/NeoSansArabic.ttf");
}

@font-face {
  font-family: "Neo-Bold";
  src: url("../Fonts/NeoSansArabic-Bold.ttf");
}

// Primary Head
.h_1 {
}

// Secondary Head
.h_2 {
}

//Heading tertiary
.h_3 {
}

.h_4 {
}

.iziToast-message {
  font-family: "Neo Sans Arabic";
}
