.show_transaction {
    .chart_component {
        .icon {
            span {
                i {
                    font-size: 3.5rem !important;
                }
            }
        }
        h3.number {
            font-size: 19px !important;
            margin-bottom: 10px !important;
        }
    }
}