.chat_custom_card {
    padding: 10px;
    border-radius: 10px;
    background: var(--cardBgColor);
    margin-bottom: 30px;
    .chatCom {
        width: 100% !important;
        color: var(--mainColor-1);
        header.header {
            padding-bottom: 10px;
            border-bottom: 1px solid var(--borderColor);
            display: flex;
            .chat_user {
                display: flex;
                justify-content: center;
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-inline-end: 10px;
                }
                .text {
                    line-height: 1;
                    h3 {
                        margin: 0;
                        font-size: 20px;
                    }
                    .status {
                        font-size: 15px;
                        margin-inline-start: 5px;
                        &.processing {
                            color: #28a745;
                        }
                    }
                }
            }
        }
        .chat_box {
            display: flex;
            flex-direction: column;
            position: relative;
            height: calc(100vh - (55px + 80px));
            position: relative;
            overflow-y: scroll;
            overflow-x: hidden;
            .chat_view {
                flex-grow: 1;
                background-size: contain;
                background-repeat: repeat;
                padding: 20px 0;
                overflow-y: scroll;
                @media (max-width: 500px) {
                    padding: 5px;
                }
                .messageOwner {
                    display: flex;
                    margin-bottom: 10px;
                    width: 100%;
                    .user_img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        margin-inline: 10px;
                    }
                    .content {
                        max-width: calc(100% - 70px);
                        p.text {
                            padding: 5px 15px;
                            height: fit-content;
                            border-radius: 10px;
                            word-wrap: break-word;
                            max-width: 100%;
                            font-size: 15px;
                        }
                        .media {
                            width: fit-content;
                            border-radius: 10px;
                            .audio_media {
                                max-width: 400px;
                                audio {
                                    max-width: 100%;
                                }
                            }
                            &>div:not(.audio_media) {
                                max-width: 400px;
                                min-height: 200px;
                                border-radius: 10px;
                                line-height: 1;
                                @media (max-width: 500px) {
                                    min-height: 150px;
                                }
                                img,
                                video {
                                    width: 100%;
                                    min-height: 200px;
                                    max-height: 200px;
                                    object-fit: cover;
                                    border-radius: 10px 10px 0 0;
                                    cursor: pointer;
                                }
                                .descreption {
                                    color: #777;
                                    padding: 7px;
                                    margin: 0;
                                    border-radius: 0 0 10px 10px;
                                    text-align: center;
                                    background: #fff;
                                    border: 1px solid #eee;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    // ====> Sender
                    &.sender {
                        justify-content: flex-start;
                        img {
                            order: 1;
                        }
                        .content {
                            order: 2;
                            p.text {
                                background: #474590;
                                color: #fff;
                            }
                        }
                    }
                    // ====> Receiver
                    &.receiver {
                        justify-content: flex-end;
                        img {
                            order: 2;
                        }
                        .content {
                            order: 1;
                            p.text {
                                background: #d8d4e4;
                                color: #333;
                            }
                        }
                    }
                }
            }
            &>footer.chat_footer {
                display: flex;
                align-items: center;
                position: relative;
                .send_button {
                    border: 0;
                    background: transparent;
                    outline: none;
                    cursor: pointer;
                    &.record {
                        width: 70px;
                    }
                    span {
                        display: block;
                        margin: 0 auto;
                        width: fit-content;
                        width: 40px;
                        height: 40px;
                        background: #36be6c;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
                .chat_input_wrapper {
                    flex-grow: 1;
                    margin: 0;
                    margin-inline: 10px;
                    position: relative;
                    &>input,
                    textarea {
                        overflow: hidden;
                        resize: none;
                        width: 100%;
                        background: var(--cardBgColor); //  var(--cardBgColor
                        height: 55px;
                        color: var(--mainColor-1); // var(--mainColor-1)
                        padding: 10px;
                        border-radius: 15px;
                        outline: none;
                        transition: all 0.2s linear;
                        font-size: 15px;
                        border: 1px solid var(--borderColor); // var(--mainColor-5)
                        &:focus {
                            padding-right: 10px;
                        }
                        &::placeholder {
                            color: #a8a8a8;
                            font-size: 17px;
                        }
                    }
                    .icon {
                        height: auto;
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-58%);
                        left: 10px;
                        .attachments {
                            margin: 0 5px;
                            width: 20px;
                            flex-shrink: 0;
                            ul.uplode_options {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 10px;
                                position: absolute;
                                top: -160px;
                                left: -55%;
                                li {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    margin: 10px 0;
                                    box-shadow: 0 0 10px #626262f2;
                                    cursor: pointer;
                                    position: relative;
                                    &:first-child {
                                        background-color: #dc3545;
                                    }
                                    &:nth-child(2) {
                                        background-color: #28a745;
                                    }
                                    &:last-child {
                                        background-color: #0d6efd;
                                    }
                                    .uplode_Input {
                                        opacity: 0;
                                    }
                                    label {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        margin: 0;
                                        padding: 0;
                                        cursor: pointer;
                                        i {
                                            color: #fff;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media (max-width: 500px) {
                    .send_button {
                        width: 15%;
                        div.recorder {
                            width: 45px;
                            .ar {
                                .ar-content {
                                    .ar-recorder {
                                        .ar-icon {
                                            width: 25px !important;
                                            height: 25px !important;
                                            line-height: 25px !important;
                                            margin-right: auto !important;
                                        }
                                        .ar-recorder__stop {
                                            width: 15px !important;
                                            height: 15px !important;
                                            line-height: 115px !important;
                                            margin-right: auto !important;
                                            right: -35px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    input {
                        width: 78%;
                        flex-grow: 0;
                    }
                    .attachments {
                        width: 7%;
                    }
                }
            }
            .uplode_preview {
                z-index: 999;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #333;
                padding: 20px;
                span.close {
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #36be6c;
                    font-size: 25px;
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    cursor: pointer;
                }
                .preview_media {
                    max-width: 80%;
                    min-height: 200px;
                    max-height: 20px;
                    margin: 10px auto;
                    display: block;
                    border-radius: 10px;
                    @media (max-width: 992px) {
                        min-height: 200px;
                    }
                    @media (max-width: 500px) {
                        min-height: 150px;
                    }
                }
                footer.footer {
                    display: flex;
                    align-items: center;
                    background: unset;
                    &>input,
                    textarea {
                        overflow: hidden;
                        resize: none;
                        width: 100%;
                        background: #000; //  var(--cardBgColor
                        height: 55px;
                        color: #c2c6dc; // var(--mainColor-1)
                        padding: 10px;
                        border-radius: 15px;
                        outline: none;
                        transition: all 0.2s linear;
                        font-size: 15px;
                        border: 1px solid #182156; // var(--mainColor-5)
                        &:focus {
                            padding-right: 10px;
                        }
                        &::placeholder {
                            color: #a8a8a8;
                            font-size: 17px;
                        }
                    }
                    .send_button {
                        width: 100%;
                        .send_message {
                            border: none;
                            outline: none;
                            overflow: unset;
                            background: #333; // var(--dark)
                            color: #fff;
                            display: inline-block;
                            font-weight: 400;
                            text-align: center;
                            padding: 12px 22px;
                            font-size: 15px;
                            line-height: 1;
                            border-radius: 0.5px;
                            margin: 0 auto;
                            display: block;
                            @media (max-width: 500px) {
                                padding: 10px 11px;
                            }
                        }
                    }
                    .submit_uplode {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}

.ar {
    width: 100% !important;
    background: var(--mainBgColor) !important;
    background: transparent !important;
    box-shadow: none !important;
    .ar-content {
        padding: 0 !important;
        display: unset !important;
        width: 100% !important;
        .ar-recorder {
            display: unset !important;
            width: 100% !important;
            .ar-icon {
                width: 40px !important;
                height: 40px !important;
                line-height: 40px !important;
                margin-right: auto !important;
                fill: #ffffff;
                border: 1px solid #525252;
                background-color: #272727;
                box-shadow: none !important;
                &__lg {
                    &.ar-icon--rec {
                        background-color: crimson;
                    }
                }
                &__sm {}
            }
            .ar-recorder__stop {
                right: -35px !important;
                width: 25px !important;
                height: 25px !important;
                line-height: 25px !important;
                margin-right: auto !important;
            }
        }
        // Display None Unnecessery components
        .ar-recorder__records-limit {
            display: none !important;
        }
        .ar-recorder__duration {
            display: none !important;
        }
        .ar-recorder__time-limit {
            display: none !important;
        }
        .ar-records {
            display: none !important;
        }
        .ar-player {
            display: none !important;
        }
    }
}

body.ltr {
    .chat_input_wrapper {
        .icon {
            left: unset !important;
            right: 10px;
        }
    }
}