.sidebar {
  .main_sidebar {
    background: var(--cardBgColor);
    color: var(--cardTitle);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 70px;
    z-index: 99;
    @include mainShadow;

    .v-navigation-drawer__content {
      overflow: visible !important;
    }

    // logo
    .top_logo {
      display: flex;
      justify-content: center;
      // padding: 20px 0;
      border-bottom: 1px solid var(--mainColor-2);
      max-height: 150px;

      .logo {
        a {

          height: 150px;
          padding: 0.3rem;
          display: flex;
          align-items: center;

          img {
            // height: 100%;
          }
        }
      }

    }

    // list item
    .v-list {
      max-height: calc(100vh - 150px);
      overflow-y: scroll;
      padding: 4px;

      .v-list-item {
        // margin: 0 10px;

        .v-icon {
          color: var(--mainColor-1);
          margin-inline-start: 0;
          // margin-inline-end: 15px;
        }

        .v-list-item__title {
          margin-inline-start: 10px;
          font-size: calc(15px + 1px);
          color: var(--cardTitle);
        }
      }

      .v-list-group {
        .v-list-group__header {
          // margin: 0 10px;

          .v-list-item__icon {
            margin-inline-start: 0 !important;
            color: var(--cardTitle);

            &:first-child {
              margin-inline-end: 0;
            }
          }

          .v-list-item__content {
            .v-list-item__title {
              font-size: calc(15px + 1px);
              color: var(--cardTitle);
            }
          }
        }

        .v-list-group__items {
          .v-list-item {
            justify-content: center;

            // margin: 0 18px;
            &.v-list-item--active::before {
              background-color: var(--mainColor-2) !important;
              //New
              //   display: none;
            }

            padding-right: 32px;
            padding-left: 32px;

            .v-list-item__title {
              font-size: 14px;
              position: relative;
              padding-right: 35px;
              padding-left: 35px;
              color: var(--cardTitle);

              &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border: 1px solid var(--cardTitle);
                @include borderRadius(50%);
                right: 15px;
                top: 3px;
              }
            }

            .sub_item_group {
              padding-right: 15px;
              padding-left: 15px;
              font-size: 16px;

              &::after {
                position: initial;
                width: 0;
                height: 0;
                font-size: 0;
                content: unset;
              }
            }

            .tit_sub {
              padding-right: 35px;
              padding-left: 35px;
            }
          }

          .sub_list_item {
            justify-content: flex-start !important;
            direction: rtl;
          }
        }

        .v-list-item--link {
          justify-content: center !important;
        }
      }

      .activeDropDown {
        &>.v-list-group__header {
          //   background: #6c98a285 !important;
          border: 1px solid var(--mainColor-2);
          border-radius: 10px;
        }
      }
    }
  }

  // ================= Small Screen
  aside.smallScreenSidebar {
    height: 100vh;
    overflow-y: scroll !important;
    padding-top: 20px !important;
    background-color: var(--mainBgColor);
    padding: 10px;
    width: 50%;
    transition: all 0.2s linear;
    position: fixed;
    top: 0;
    right: -50%; // RTL
    z-index: 99;
    @include mainShadow;

    span.close {
      position: absolute;
      top: 10px;
      left: 20px;
      cursor: pointer;
      z-index: 20;

      i {
        color: var(--mainColor-2);
        transition: all 0.2s linear;
      }

      &:hover {
        i {
          color: var(--mainColor-2);
        }
      }
    }

    .v-list {
      max-height: calc(100vh - 70px) !important;
      background-color: var(--mainBgColor);
    }

    &.active {
      right: 0;
    }

    @media (max-width: 500px) {
      width: 100%;
      right: -100%;
    }

    .navIcons {
      @include flexCenterAlignment;

      li {
        margin: 0 10px;
        cursor: pointer;

        i {
          font-size: 25px;
        }
      }
    }
  }
}

body.ltr {
  .v-list-item__title::after {
    right: auto !important;
    left: 15px !important;
  }

  .sidebar .main_sidebar .v-list .v-list-item .v-icon {
    margin-left: 0 !important;
    margin-right: 15px !important;
  }

  .sidebar .main_sidebar .v-list .v-list-item .v-icon {
    margin-left: 0 !important;
    margin-right: 15px !important;
  }

  .v-list-item__icon:first-child {
    margin-right: 15px !important;
  }

  .tit_sub {
    direction: ltr;
  }

  aside.smallScreenSidebar {
    right: unset !important;
    left: -50% !important;

    &.active {
      right: unset !important;
      left: 0 !important;
    }
  }
}